body {
  text-align: center;
}

section {
  padding: 20px;
}

.budget_output {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.budget_income, .budget_expenses {
  max-width: 100%;
  text-align: left;
  padding: 20px;
  margin: 20px;
}

.budget_output__expenses, .budget_output__income {
  grid-row: 1;
  grid-gap: 10px;
}

.credit,
.expenses {
  display: flex;
  padding: 10px;
  border: 1px solid #999;
  margin-top: 10px;
}

.credit__description, .expenses__description {
  flex: 2;
}

.credit__value,
.credit__delete_button,
.expenses__value,
.expenses__delete_button {
  flex: 1;
}

.green {
  color: greenyellow;
}

.green:focus {
  border: 1px solid greenyellow;
}

.red {
  color: #FF5049;
}
