body {
  text-align: center;
}

section {
  padding: 20px;
}

.budget_output {
  display: flex;
  justify-content: center;
}

.budget_income, .budget_expenses {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin: 20px;
}

.budget_output__expenses, .budget_output__income {
  flex: 1;
}

.credit,
.expenses {
  display: flex;
  padding: 10px;
  border: 1px solid #999;
  margin-top: 10px;
}

.credit__description, .expenses__description {
  flex: 2;
}

.credit__value,
.credit__delete_button,
.expenses__value,
.expenses__delete_button {
  flex: 1;
}
